@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300;1,400;1,600&family=Poppins:ital,wght@0,500;0,600;0,700;1,300;1,500;1,600&family=Unica+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #ececec;
  overflow-x: hidden;
  color: black;
}

@layer components {
  .btn-primary {
    @apply bg-[#1F2121] flex items-center gap-x-1 lg:gap-x-4 text-[12px] md:text-[14px] py-3 rounded-lg px-2 lg:px-7 outline-none font-monts text-white;
  }
  .btn-secondary {
    @apply bg-[#fff] flex items-center gap-x-1 lg:gap-x-4 py-3 rounded-lg px-2 text-[12px] md:text-[14px] lg:px-10 outline-none font-monts text-[#1e4620];
  }
}

/*--------head------------*/
.head {
  padding: 20px 0;
  color: #fff;
}
.logo h1 {
  font-weight: 900;
}

/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 30px;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.start {
  /* background-color: #1e4620; */
  background-color: #1f2121;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #1f2121;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  .header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1f2121;
  }
  .mobile-navB {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: #1e4620;
    padding-left: 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .margin {
    height: 40vh;
  }
  .hero {
    background-position: -330px;
    background-position-y: 100px;
    padding-top: 50%;
    /* padding-right: 40px; */
    height: 80vh;
  }
  .hero .row {
    width: 100%;
  }
}

/* .test {
  background: -webkit-linear-gradient(#355e3b, #355e3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.about::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  background-color: #0294da;
}
.linear {
  background: linear-gradient(#0294da, #141517);
}

/* signup form  */
.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.succedmsg {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
select,
button,
.select,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  outline: none;
  color: black;
  padding: 8px;
}

label,
button {
  margin-top: 1rem;
  font-family: "Nunito", sans-serif;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.sec {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

/* loading styles  */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 22px;
  height: 22px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #0294da; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
